
Theme Name: Astra Child
Theme URI: https://longliveking.com
Template: astra
Author: KING
Author URI: https://longliveking.com
Description: Astra child theme
Version: 2
Tested up to: 5.5
Requires PHP: 5.3 or higher
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astrachild
Domain Path: /languages
Tags: custom-menu, custom-logo, entertainment, one-column, two-columns, left-sidebar, e-commerce, right-sidebar, custom-colors, editor-style, featured-images, full-width-template, microformats, post-formats, rtl-language-support, theme-options, threaded-comments, translation-ready, blog
** /

/*@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600;700;800&family=Open+Sans:wght@400;600;700;800&display=swap');*/

/* global */
@media (min-width: 1400px) {
	.container {
	    max-width: 1648px !important;
	}
	body:not(.home) .ast-container, .ast-woo-shop-archive .site-content > .ast-container {
		max-width: 1648px;
	}
	.elementor-section.elementor-section-boxed > .elementor-container {
		max-width: 1648px !important;
	}
}
html {
    overflow-x: hidden;
    width: 100vw;
}
.woocommerce-account h1.header-title, .home h1.header-title, .single-product h1.header-title {
	display: none;
}
:not(.woocommerce-account):not(.home):not(.single-product).ast-single-post .entry-header, :not(.woocommerce-account):not(.home):not(.single-product) h1.page-title {
	display: none;
}
body, p, a {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	color: black;
}
a, a:hover, a:focus {
	color: #78BE21;
}
.ast-single-post h1.entry-title, h1.page-title {
	font-size: 83px;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 800;
	color: black;
	text-transform: uppercase;
}
h1.header-title {
	font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 83px;
    color: #75FF41;
    text-align: center;
}
h3 {
	color: white;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 800;
	font-size: 83px;
	line-height: 1.1;
}
a, a:hover, a:focus {
	outline: none;
}
.ast-separate-container {
	background-color: white;
}
.woocommerce a.button, .woocommerce button.button, .woocommerce .woocommerce-message a.button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce input.button, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled], .woocommerce input.button:disabled:hover, .woocommerce input.button:disabled[disabled]:hover, .woocommerce #respond input#submit, .woocommerce button.button.alt.disabled, .wc-block-grid__products .wc-block-grid__product .wp-block-button__link, .wc-block-grid__product-onsale {
	background-color: #78BE21;
}
.woocommerce-message, .woocommerce-info {
	border-top-color: #78BE21;
}
.woocommerce-message::before, .woocommerce-info::before {
	color: #78BE21;
}
.page {
	background-color: #F6F6F5;
}
.single-product.ast-separate-container #primary {
	margin-top: 102px;
}
.woocommerce #content .ast-woocommerce-container div.product div.summary, .woocommerce .ast-woocommerce-container div.product div.summary, .woocommerce-page #content .ast-woocommerce-container div.product div.summary, .woocommerce-page .ast-woocommerce-container div.product div.summary {
	width: 35%;
	float: left;
	margin-left: 80px;
}






/* header */
.site-header {
	width: 100%;
}
.home .site-header {
	position: absolute;
}
.site-header .ast-container {
	max-width: 100% !important;
}
.main-header-bar, .ast-header-break-point .main-header-bar, .ast-header-break-point .header-main-layout-2 .main-header-bar{
	padding-top: 26px;
	padding-bottom: 63px;
}
.main-header-bar {
	background-color: rgb(0 0 0 / 70%);
}
body:not(.home) .main-header-bar {
	background-color: black;
	padding-bottom: 26px;
}
.main-header-menu .menu-link, .ast-header-custom-item a {
	color: white;
	font-weight: bold;
}
.main-header-menu .menu-item:hover > .menu-link, .main-header-menu .menu-item:hover > .ast-menu-toggle, .main-header-menu .ast-masthead-custom-menu-items a:hover, .main-header-menu .menu-item.focus > .menu-link, .main-header-menu .menu-item.focus > .ast-menu-toggle, .main-header-menu .current-menu-item > .menu-link, .main-header-menu .current-menu-ancestor > .menu-link, .main-header-menu .current-menu-item > .ast-menu-toggle, .main-header-menu .current-menu-ancestor > .ast-menu-toggle, .main-header-menu .current_page_parent .menu-link {
	color: #75FF41;
	font-weight: 800;
}
.ast-desktop .main-header-menu.submenu-with-border .sub-menu, .ast-desktop .main-header-menu.submenu-with-border .astra-full-megamenu-wrapper{
	background-color: black;
	opacity: 0.7;
}

.ast-header-break-point .main-header-bar .main-header-bar-navigation .menu-item-has-children > .ast-menu-toggle{
	top: 18px;
}

@media (min-width:545px){
	
	.ast-header-break-point .main-header-bar .main-header-bar-navigation .menu-item-has-children > .ast-menu-toggle{
		line-height: 3;
		padding: 0 12px;
	}
}

@media (min-width:769px){
	
	.ast-header-break-point .main-header-bar .main-header-bar-navigation .menu-item-has-children > .ast-menu-toggle{
		line-height: 2.7;
	}
}

.ast-header-break-point .main-header-bar .main-header-bar-navigation .menu-item-has-children > .ast-menu-toggle:before{
	color: #75FF41;
}

.ast-header-break-point .main-header-bar .main-header-bar-navigation .menu-item-has-children .sub-menu{
	background-color: #222;
}

.site-header .menu-text {
	font-size: 18px;
}
.loginbuttons a.login {
    color: white;
    border: 1px solid #75FF41;
    padding: 6px 15.5px;
    margin-left: 30px;
    margin-right: 10px;
    font-size: 18px;
}
.loginbuttons a.signup {
    color: white;
    border: 1px solid #75FF41;
    padding: 6px 15.5px;
    margin-right: 60px;
    font-size: 18px;
}
.loginbuttons a.login:hover,
.loginbuttons a.signup:hover {
    background-color: #75FF41;
    color: white;
}
.applepay {
	background-image: url('assets/images/icon_apple_pay.svg');
	background-size: 45px;
    background-repeat: no-repeat;
    margin-right: 20px;
    border-radius: 6px;
    padding: 18.5px 30px;
    background-position: center;
}
.shopcart {
	background-image: url('assets/images/icon_trolley.svg');
	background-size: contain;
	background-repeat: no-repeat;
	width: 72px;
	height: 72px;
	margin-right: 20px;
	position: relative;
}
a.shopcart.not-empty {
    width: 45px;
}
a.shopcart.not-empty span {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    bottom: -15px;
    width: 65px;
    text-align: center;
}
.main-header-bar .trusttpilot {
    position: absolute;
    right: 57px;
    bottom: -77px;
}
body:not(.home) .main-header-bar .trusttpilot {
	display: none;
}
p.trusttpilot {
	margin-bottom: 20px;
	line-height: 1 !important;
}
.trusttpilot .logo {
	background-image: url('assets/images/logo_trust_pilot_black.svg');
	width: 220px;
	height: 31px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
}
header .trusttpilot .logo {
	background-image: url('assets/images/logo_trust_pilot.svg');
}
.trusttpilot .star {
	background-image: url('assets/images/icon_trustpilot_small.svg');
	width: 26px;
	height: 26px;
	display: inline-block;
	background-size: contain;
	margin-right: -3px;
}
/* end header */


/* carousel */
#topCarousel h1 {
	font-size: 51px;
	background-image: url('assets/images/background_home_carousel_title.svg');
    font-family: 'Barlow Condensed', sans-serif !important;
    font-style: italic;
    color: #FFFFFF;
    padding: 70px 165px 57px 94px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    margin-top: 188px;
}
#topCarousel .bg_image {
    min-height: 1013px;
    background-position: center;
    background-size: cover;
    position: relative;
}
#topCarousel .bg_image .shadowdeets {
	bottom: 0;
    top: auto;
    position: absolute;
    width: 100%;
    background: transparent linear-gradient(0deg, rgb(16 24 32 / 60%) 40%, #FFFFFF00 70%, #FFFFFF00 100%) 0% 0% no-repeat padding-box
}
#topCarousel .bg_image .shadowdeets .carname {
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: bold;
	font-size: 101px;
	color: #FFFFFF;
	float: left;
	margin-left: 96px;
	line-height: 1;
	padding: 150px 0 27px 0;
	margin-right: 300px;
}
#topCarousel .bg_image .shadowdeets .viewcomp {
    float: right;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 35px;
    padding: 10px 28px;
    background-color: #78BE21;
    color: #FFFFFF;
    position: absolute;
    bottom: 37px;
    right: 55px;
}
#topCarousel .bg_image .shadowdeets .viewcomp:after {
	content: "";
	background-image: url('assets/images/icon_button_arrow_white.svg');
	width: 15px;
    height: 27px;
    display: inline-block;
    background-repeat: no-repeat;
    font-weight: 200;
    margin: 0 0 -1px 17px;
}
#topCarousel .details {
	width: 100%;
	background-color: black;
}
#topCarousel .details .green {
	background-color: #78BE21;
	position: relative;
	display: inline-block;
}
#topCarousel .details .green:after {
	background-color: #78BE21;
    content: "";
    transform: skew(-25deg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -70px;
}
#topCarousel .details .green .price {
	color: white;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 600;
	font-size: 50px;
	margin-left: 100px;
	position: relative;
	z-index: 1;
}
#topCarousel .details .green .price span {
	font-weight: bold;
}
#topCarousel .details ul {
    margin: 0;
    list-style: none;
    display: inline-block;
    margin-left: 115px;
    vertical-align: top;
    margin-top: 17px;
    margin-right: 245px;
}
#topCarousel .details ul li {
    padding: 0;
    display: inline-block;
    margin-right: 65px;
}
#topCarousel .details ul li img {
    display: inline-block;
    max-height: 56px;
}
#topCarousel .details ul li .data {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
    line-height: 23px;
    vertical-align: middle;
    margin-left: 10px;
}
#topCarousel .details ul li .data span {
	font-size: 23px;
	font-weight: bold;
}
/* controlls */
#topCarousel .controlls {
	position: relative;
    margin-top: -18px;
    float: right;
}
#topCarousel .controlls button.carousel-control-prev {
	display: block;
	height: 56px;
	width: 56px;
	opacity: 1;
	bottom: 0;
	right: 128px;
	top: auto;
	left: auto;
	background-image: url('assets/images/icon_home_carousel_left.svg');
}
#topCarousel .controlls button.carousel-control-next {
    display: block;
    height: 56px;
    width: 56px;
    opacity: 1;
    bottom: 0;
    right: 52px;
    top: auto;
	background-image: url('assets/images/icon_home_carousel_right.svg');
}
#topCarousel .controlls button.carousel-control-next:hover, #topCarousel .controlls button.carousel-control-prev:hover, #topCarousel .controlls button.carousel-control-next:focus, #topCarousel .controlls button.carousel-control-prev:focus {
	background-color: transparent;
}
#topCarousel .controlls .carousel-indicators {
    left: auto;
    right: 210px;
    margin-right: 0;
    margin-bottom: 10px;
}
#topCarousel .controlls .carousel-indicators button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    opacity: 1;
    transition: all 0.3s ease;
}
#topCarousel .controlls .carousel-indicators button.active, #topCarousel .controlls .carousel-indicators button:hover {
	background-color: #75FF41;
}
/* end carousel */ 



.current-comps-title {
	background-color: black;
	background-image: url('assets/images/background_current_comp.jpg');
	background-position: -622px -243px;
	background-repeat: no-repeat;
	text-align: center;
	position: relative;
	max-height: 100px;
}
.current-comps-title:after{
	background-image: url('assets/images/background_current_comp.jpg');
	background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    background-position: -618px -243px;
    transform: rotate(180deg);
}
.current-comps-title h3 {
	position: relative;
	z-index: 1;
}
.current-comps {
	background-color: black;
}


/* WOOCOMMERCE CART */

/*login error message*/
.woocommerce-cart .woocommerce-notices-wrapper .woocommerce-error{
	padding: 12px 12px 12px 50px;
    font-size: 1.1rem;
}

/*cart form*/
.woocommerce #content .woocommerce-cart-form,.woocommerce-page #content .woocommerce-cart-form{
	width: 100%;
}


/*font sizes*/
.woocommerce #content table.cart td, .woocommerce-page #content table.cart td,.woocommerce #content table.cart td a, .woocommerce-page #content table.cart td a,.woocommerce #content table.cart td p, .woocommerce-page #content table.cart td p{
	font-size: 1rem;
}

@media (min-width:769px){

	.woocommerce table.shop_table thead th, .woocommerce-page table.shop_table thead th{
		font-size: 1rem;
	}

	.woocommerce #content table.cart td, .woocommerce-page #content table.cart td,.woocommerce #content table.cart td a, .woocommerce-page #content table.cart td a,.woocommerce #content table.cart td p, .woocommerce-page #content table.cart td p{
		font-size: 0.9rem;
	}
}

@media (min-width:1200px){

	.woocommerce table.shop_table thead th, .woocommerce-page table.shop_table thead th{
		font-size: 1.1rem;
	}

	.woocommerce #content table.cart td, .woocommerce-page #content table.cart td,.woocommerce #content table.cart td a, .woocommerce-page #content table.cart td a,.woocommerce #content table.cart td p, .woocommerce-page #content table.cart td p{
		font-size: 1rem;
	}
}

/*remove product row*/
.woocommerce #content table.cart td.product-remove, .woocommerce-page #content table.cart td.product-remove{
	line-height: 1;
	min-height: 0;
}

/*variations*/
@media (min-width:769px){
	
	.woocommerce #content table.cart .variation dt,.woocommerce-page #content table.cart .variation dt,.woocommerce #content table.cart .variation dd,.woocommerce-page #content table.cart .variation dd{
		display: block;
		width: 100%;
	}

	.woocommerce #content table.cart .variation dt,.woocommerce-page #content table.cart .variation dt{
		font-weight: 400;
	}

	.woocommerce #content table.cart .variation dd p,.woocommerce-page #content table.cart .variation dd p{
		line-height: 1.3;
	}
}

/*coupon bit*/
.woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon{
	flex-wrap: wrap;
	width: 100%;
	max-width: 600px;
}

.woocommerce-cart table.cart td.actions .coupon .input-text{
	float: none;
	margin: 0 0 10px;
	width:  100% !important;
}

@media (min-width:769px){
	
	.woocommerce-cart table.cart td.actions .coupon .input-text{
		width: 60% !important;
	}
}

.woocommerce table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page table.cart td.actions .button{
	float: left;
	margin: 0;
	width: 100% !important;
	max-width: 600px;
}

@media (min-width:769px){
	
	.woocommerce table.cart td.actions .coupon .button, .woocommerce-page #content table.cart td.actions .coupon .button, .woocommerce-page table.cart td.actions .coupon .button{
		width: calc(40% - 20px) !important;
		margin: 0 0 10px 20px;
	}
}

/*upsells*/
.woocommerce-cart .cart-collaterals .cross-sells ul.products li.product{
	margin: 0 0 20px;
	float: none;
	width: 100%;
	max-width: 270px;
}

@media (min-width:460px) and (max-width: 768px){

	.woocommerce-cart .cart-collaterals .cross-sells{
		padding-right: 0;
	}

	.woocommerce-cart .cart-collaterals .cross-sells ul.products li.product{
		width: calc(50% - 20px);
		margin-right: 20px;
	}
}

@media (min-width:1150px){

	.woocommerce-cart .cart-collaterals .cross-sells{
		padding-right: 0;
	}

	.woocommerce-cart .cart-collaterals .cross-sells ul.products li.product{
		width: calc(50% - 20px);
		margin-right: 20px;
	}
}

.woocommerce-cart .cart-collaterals .cross-sells ul.products li.product h2{
	font-size: 1.1rem;
}

/*totals*/
.woocommerce-cart .cart-collaterals .cart_totals td,.woocommerce-cart .cart-collaterals .cart_totals th{
	font-size: 1rem;
}

.woocommerce-cart .cart-collaterals .cart_totals .wc-proceed-to-checkout .checkout-button{
	font-size: 1rem;
}

/* END WOOCOMMERCE CART */

/* WOOCOMMERCE CHECKOUT */

/*site header button re-alignment*/
.woocommerce-checkout.distraction-free .main-header-container{
	text-align: left;
}

/*coupon message*/
.woocommerce-form-coupon-toggle .woocommerce-info{
	padding: 12px 12px 12px 50px;
    font-size: 1.1rem;
}

.woocommerce form.woocommerce-checkout{
	max-width: 100%;
}

.woocommerce-form-coupon-toggle .woocommerce-info .showcoupon{
	font-size: 1.1rem;
}

/*country*/
.woocommerce .woocommerce-billing-fields #billing_country_field .woocommerce-input-wrapper{
	font-size: 1.1rem;
}

/*mailchimp fields*/
.woocommerce form.woocommerce-checkout #mailchimp-gdpr-fields p{
	margin: 20px 0 0;
}

.woocommerce form.woocommerce-checkout #mailchimp-gdpr-fields p,.woocommerce form.woocommerce-checkout #mailchimp-gdpr-fields label{
	font-size: 1.1rem;
	line-height: 1.3;
}

/*review order*/
.woocommerce h3#order_review_heading{
	padding-right: 10px !important;
	padding-left: 10px !important;
}

.woocommerce-page.woocommerce-checkout form #order_review, .woocommerce.woocommerce-checkout form #order_review{
	padding-left: 10px !important;
	padding-right: 10px !important;
}

@media (min-width: 450px){

	.woocommerce h3#order_review_heading{
		padding-right: 20px !important;
		padding-left: 20px !important;
	}

	.woocommerce-page.woocommerce-checkout form #order_review, .woocommerce.woocommerce-checkout form #order_review{
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}

.woocommerce-page.woocommerce-checkout form #order_review th{
	font-size: 1.1rem;
}

@media (min-width:769px){
	
	.woocommerce-page.woocommerce-checkout form #order_review th{
		font-size: 1rem;
	}
}

.woocommerce-page.woocommerce-checkout form #order_review td{
	font-size: 1rem;
}

.woocommerce-page.woocommerce-checkout form #order_review .product-total{
	text-align: right;
}

.woocommerce-page.woocommerce-checkout .variation dt,.woocommerce-page.woocommerce-checkout .variation dd{
	display: block;
	width: 100%;
}

.woocommerce-page.woocommerce-checkout .variation dt{
	font-weight: 400;
}

.woocommerce-page.woocommerce-checkout .variation dd p{
	line-height: 1.3;
	font-size: 1.1rem;
	font-weight: 700;
}

@media (min-width:769px){
	
	.woocommerce-page.woocommerce-checkout .variation dd p{
		font-size: 1rem;
	}
}

.woocommerce-page.woocommerce-checkout form #order_review .woocommerce-checkout-review-order-table tfoot td{
	text-align: right;
}

.woocommerce-page.woocommerce-checkout .woocommerce-checkout-payment .payment_method_wc_tp_cardsv3 label{
	font-size: 1.1rem;
	font-weight: 700;
}

@media (min-width:769px){
	
	.woocommerce-page.woocommerce-checkout .woocommerce-checkout-payment .payment_method_wc_tp_cardsv3 label{
		font-size: 1rem;
	}
}

.woocommerce-page.woocommerce-checkout .woocommerce-checkout-payment .payment_method_wc_tp_cardsv3 label img{
	height:  22px !important;
}

.woocommerce-page.woocommerce-checkout .woocommerce-terms-and-conditions-checkbox-text a{
	font-size: inherit;
}

.woocommerce-page.woocommerce-checkout #payment #place_order{
	font-size: 1.1rem;
	width:  100%;
}

/* END WOOCOMMERCE CHECKOUT */

/* WOOCOMMERCE ACCOUNT */

.woocommerce-page.woocommerce-account .login-register-message{
	padding: 15px;
	border-radius: 5px;
	background-color: #eee;
}

@media (min-width:769px){
	
	.woocommerce-page.woocommerce-account .login-register-message{
		display: none;
	}
}

.woocommerce-page.woocommerce-account .login-register-message p,.woocommerce-page.woocommerce-account .login-register-message a{
	font-size: 1rem;
	line-height: 1.3;
}

.woocommerce-page.woocommerce-account .login-register-message p{
	margin-bottom: 10px;
}

.woocommerce-page.woocommerce-account .login-register-message .login-register-buttons{
	line-height: 1;
}

.woocommerce-page.woocommerce-account .login-register-message .login-register-buttons a{
	margin: 0 5px 10px 0;
	background-color: #78BE21;
	color: #fff;
	border-radius: 5px;
	padding: 8px 25px;
	display: inline-block;
}

.woocommerce form.login, .woocommerce form.register{
	margin: 0;
}

.woocommerce-account h2{
	margin-top: 30px;
}

.woocommerce form.login .woocommerce-form-login__submit,.woocommerce form.login .woocommerce-LostPassword a{
	font-size: 1rem;
}

/* END WOOCOMMERCE ACCOUNT */


section.current-comp {
	background-color: black;
	padding: 40px 0 90px;
}
section.current-comp #current-comp-carousel .product .details, section.current-comp #current-comp-carousel-mobile .product .details {
	background-color: white;
	padding: 15px 20px;
}
section.current-comp #current-comp-carousel .product .details h4, section.current-comp #current-comp-carousel-mobile .product .details h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 22px;
	color: black;
}
section.current-comp #current-comp-carousel .product .details .price, section.current-comp #current-comp-carousel-mobile .product .details .price {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	color: #78BE21;
	font-size: 38px;
}
section.current-comp #current-comp-carousel .product .green, section.current-comp #current-comp-carousel-mobile .product .green {
	background-color: #78BE21;
	padding: 5px 20px;
}
section.current-comp #current-comp-carousel .product .green .days, section.current-comp #current-comp-carousel-mobile .product .green .days {
	background-image: url('assets/images/icon_time.svg');
	background-repeat: no-repeat;
    padding-left: 45px;
    line-height: 1;
    font-size: 20px;
    color: white;
    font-weight: 800;
    display: inline-block;
}
section.current-comp #current-comp-carousel .product .green .days span, section.current-comp #current-comp-carousel-mobile .product .green .days span {
	font-weight: normal;
	font-size: 16px;
}
section.current-comp #current-comp-carousel .product .green .tickets, section.current-comp #current-comp-carousel-mobile .product .green .tickets {
	background-image: url('assets/images/icon_ticket_white.svg');
	background-repeat: no-repeat;
    padding-left: 57px;
    line-height: 1;
    font-size: 20px;
    color: white;
    font-weight: 800;
    display: inline-block;
    float: right;
    background-size: 50px;
    background-position: 0 6px;
}
section.current-comp #current-comp-carousel .product .green .tickets span, section.current-comp #current-comp-carousel-mobile .product .green .tickets span {
	font-weight: normal;
	font-size: 16px;
}
section.current-comp #current-comp-carousel .carousel-indicators, section.current-comp #current-comp-carousel-mobile .carousel-indicators {
	bottom: -60px;
}
section.current-comp #current-comp-carousel .carousel-indicators button, section.current-comp #current-comp-carousel-mobile .carousel-indicators button {
	width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    opacity: 1;
    transition: all 0.3s ease;
}
section.current-comp #current-comp-carousel .carousel-indicators button.active, section.current-comp #current-comp-carousel .carousel-indicators button:hover, section.current-comp #current-comp-carousel-mobile .carousel-indicators button.active, section.current-comp #current-comp-carousel-mobile .carousel-indicators button:hover {
	background-color: #75FF41;
}
#current-comp-carousel-mobile {
	display: none;
}

section#how-it-works {
    background-color: black;
    background-image: url('assets/images/background_how_it_works.jpg');
    background-position: right;
    background-repeat: no-repeat;
}
section#how-it-works ol {
	counter-reset: my-awesome-counter;
	list-style: none;
	margin: 0 0 80px 0;
	max-width: 1190px;
}
section#how-it-works ol li {
    counter-increment: my-awesome-counter;
    font-size: 25px;
    color: white;
    font-weight: 600;
    line-height: 34px;
    margin-top: 23px;
    display: block;
    clear: both;
    height: 100px;
}
section#how-it-works ol li:before {
	font-family: 'Barlow Condensed', sans-serif;
    content: counter(my-awesome-counter);
    font-size: 83px;
    line-height: 92px;
    font-weight: 800;
    border: 2px solid #75FF41;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: inline-block;
    text-align: center;
    float: left;
}
section#how-it-works ol li span {
    display: inline-block;
    max-width: 85%;
    margin-left: 20px;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    text-shadow: 2px 2px 3px rgb(0 0 0 / 70%);
}


section#winners {
	background-image: url('assets/images/background_home_winners.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 25px;
	padding-bottom: 60px;
}
section#winners h3 {
	text-align: center;
}
section#winners .details {
    background-color: white;
    padding: 10px 15px;
}
section#winners .details h4 {
    font-size: 17px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}
section#winners .details .prize {
	font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: black;
    font-weight: 600;
}
section#winners .details .date {
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
	color: #78BE21;
	font-weight: 700;
}
section#winners #winners-carousel, section#winners #winners-carousel-mobile {
	margin-top: 30px;
	margin-bottom: 103px;
}
section#winners #winners-carousel .carousel-indicators, section#winners #winners-carousel-mobile .carousel-indicators {
	bottom: -60px;
}
section#winners #winners-carousel .carousel-indicators button, section#winners #winners-carousel-mobile .carousel-indicators button {
	width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    opacity: 1;
    transition: all 0.3s ease;
}
section#winners #winners-carousel .carousel-indicators button.active, section#winners #winners-carousel .carousel-indicators button:hover, section#winners #winners-carousel-mobile .carousel-indicators button.active, section#winners #winners-carousel-hover .carousel-indicators button:hover {
	background-color: black;
}
#winners-carousel-mobile {
	display: none;
}
section#winners .btn {
    width: auto;
    margin: 0 auto;
    font-size: 33px;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    background-color: #78BE21;
    padding: 0px 15px;
    border-radius: 0;
}
section#winners .btn:after {
	content: " WINNERS";
}
section#winners .image {
    height: 272px;
    background-size: cover;
    background-position: center;
}
.page .pt-cv-ifield {
	background-color: white;
	transition: all 0.2s ease;
}
.page .pt-cv-ifield .pt-cv-title a {
	color: black;
}
.page .pt-cv-ifield:hover {
    background-color: #78BE21;
}
.page .pt-cv-ifield:hover a.img-thumbnail {
	opacity: 0.5;
}
.page .pt-cv-ifield:hover .pt-cv-title a {
	color: white;
}
.page .pt-cv-ifield:hover .pt-cv-meta-fields time {
	color: white;
}





/* footer */
#all-over-footer img.attachment-full.size-full.astra-logo-svg {
	filter: unset;
}
#all-over-footer span.elementor-icon-list-text {
    color: white;
    font-size: 16px;
    line-height: 24px;
}
#all-over-footer .elementor-widget-wrap .hang-bottom {
    bottom: 0;
    position: absolute;
}
#all-over-footer .elementor-widget-wrap .hang-bottom p, #all-over-footer .elementor-widget-wrap .co-deets p {
	color: white;
	font-size: 14px;
}
.mobile-only {
	display: none;
}
#ast-scroll-top {
	display: none !important;
}
#all-over-footer .elementor-column.elementor-col-33 {
    width: 22%;
}
.elementor-1600 .elementor-element.elementor-element-d93ce3a {
	margin-top: 25px;
}
.elementor-1600 .elementor-element.elementor-element-a5371e8 {
	margin-top: 37px;
}




/* account */
.woocommerce-MyAccount-navigation-link {
	border: 1px solid #78BE21;
	margin-bottom: 5px;
	border-bottom-width: 1px;
}
#tgwc-woocommerce .tgwc-woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link a {
	color: black;
	font-size: 18px;
	font-weight: 600;
    padding: 8px 25px;
}
.woocommerce-MyAccount-navigation-link.is-active a {
	color: white;
	background-color: #78BE21;
}




/* single product */
.single-product div.product h1.entry-title {
	font-size: 55px;
	font-weight: bold;
}
.single-product div.product .woocommerce-breadcrumb {
	display: none;
}
.single-product p, .single-product .panel.entry-content ul li, .single-product .panel.entry-content p a {
	font-size: 22px;
	line-height: 28px;
	text-align: left;
}
.single-product p.note {
	font-weight: 600;
}
.time-title {
	color: #78BE21;
	font-size: 25px;
	font-weight: 800;
	margin-bottom: 10px;
}
.wc_lotery_countdown-section .wc_lotery_countdown-amount {
	font-size: 51px;
	font-weight: 800;
	line-height: 49px;
	position: relative;
	min-width: 65px;
	display: inline-block;
}
.wc_lotery_countdown-section .wc_lotery_countdown-amount:after {
    content: ":";
    position: absolute;
    right: -15px;
    top: -3px;
}.wc_lotery_countdown-section:last-of-type .wc_lotery_countdown-amount:after {
	display: none;
}
.wc_lotery_countdown-section .wc_lotery_countdown-period {
    font-size: 18px;
}
.single-product .wcl-progress-meter {
	margin: 0;
	font-size: 20px;
	color: #78BE21;
	line-height: 20px;
	margin-top: 40px;
}
.single-product .wcl-progress-meter .title p {
	font-size: 29px;
	color: #78BE21;
	margin-bottom: 15px;
}
.single-product .wcl-progress-meter .title p .ticket-icon {
	background-image: url('assets/images/icon_ticket.svg');
	width: 69px;
	height: 46px;
	background-size: contain;
	background-position: center;
    display: inline-block;
    margin: 0 0 -5px 10px;
}
.single-product .wcl-progress-meter .zero {
	position: unset;
	top: unset;
	float: left;
}
.single-product .wcl-progress-meter .max {
	position: unset;
	top: unset;
	right: unset;
	float: right;
}
.single-product .wcl-progress-meter progress[value] {
	height: 11px;
}
.single-product .wcl-progress-meter progress[value]::-webkit-progress-bar {
	background-color: black;
}
.single-product .wcl-progress-meter progress[value]::-webkit-progress-value {
	border-radius: 0;
}
.single-product p.price-note {
    margin-top: 43px;
}
.single-product div.product p.price, .single-product div.product span.price {
	font-family: 'Barlow Condensed', sans-serif;
	color: #78BE21;
	font-size: 46px;
	font-weight: 500;
}
.single-product div.product p.price span, .single-product div.product span.price span {
	font-size: 48px;
	font-weight: bold;
}
.single-product div.product form.cart.pick-number {
	margin-top: 50px;
}
.single-product div.product form.cart.pick-number h3 {
    display: none;
}
.single-product div.product form.cart.pick-number p.lottery-question {
    font-size: 33px;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: normal;
}
.woocommerce div.product form.cart select#lottery_answer_drop {
    border: 2px solid #78BE21;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(assets/images/icon_dropdown_arrows.svg);
    background-repeat: no-repeat;
    background-position: right 10px top 8px;
}
.woocommerce div.product form.cart .button.single_add_to_cart_button {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	font-weight: 600;
	border-radius: 0;
	text-transform: capitalize;
    padding: 12px 28px;
}
.woocommerce div.product form.cart .button.single_add_to_cart_button:hover {
	background-color: #78BE21;
}
.wc-add-to-cart-icon .add_to_cart_button.text_replaceable:before, .wc-add-to-cart-icon .single_add_to_cart_button:before {
	display: none;
}
.woocommerce div.product form.cart div.quantity {
    border: 2px solid #78BE21;
    height: 46px;
    margin: 0 3px 0 0 ;
}
.woocommerce div.product form.cart div.quantity .minus {
	font-weight: 600;
    color: black;
}
.woocommerce div.product form.cart div.quantity .plus {
	margin-right: 0;
	font-weight: 600;
    color: black;
}
.woocommerce div.product form.cart div.quantity .input-text.qty {
	font-weight: 600;
	color: black;
}
.woocommerce div.product .lottery-ajax-change {
    display: none;
}
.woocommerce-tabs.wc-tabs-wrapper {
    border-top: 3px solid #78BE21;
    padding-top: 30px;
}
.woocommerce div.product.ast-product-tabs-layout-vertical .woocommerce-tabs .panel {
	border: none;
	margin-left: 377px;
}
.woocommerce div.product.ast-product-tabs-layout-vertical .woocommerce-tabs ul.tabs {
	width: 377px;
}
.woocommerce div.product.ast-product-tabs-layout-vertical .woocommerce-tabs ul.tabs li {
	text-align: center;
	border: 1px solid #78BE21;
	margin-bottom: 5px;
}
.woocommerce div.product.ast-product-tabs-layout-vertical .woocommerce-tabs ul.tabs li.active {
	border: none;
	background-color: #78BE21;
}
.woocommerce div.product.ast-product-tabs-layout-vertical .woocommerce-tabs ul.tabs li.active:before {
	display: none;
}
.woocommerce div.product.ast-product-tabs-layout-vertical .woocommerce-tabs ul.tabs li a {
	font-size: 39px;
	font-weight: bold;
	color: black;
	text-transform: uppercase;
	font-family: 'Barlow Condensed', sans-serif;
	padding: 0;
}
.woocommerce div.product.ast-product-tabs-layout-vertical .woocommerce-tabs ul.tabs li.active a {
	color: white;
}
.woocommerce-tabs .woocommerce-Tabs-panel h2 {
	color: black;
}
.woocommerce.single-product div.product .related.products {
	display: none;
}
.woocommerce div.product div.summary {
	margin-bottom: 0;
}
.single-product .specs {
	margin-top: 75px;
}
.single-product .specs ul {
    list-style: none;
    margin: 0;
    display: flex;
    width:  100%;
    justify-content: center;
}
.single-product .specs ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	padding: 0 3%;
}

@media (min-width:769px){
	
	.single-product .specs ul li{
		width: auto;
	}
}

@media (min-width:769px) and (max-width: 921px){
	
	.single-product .specs ul{
		justify-content: flex-start;
	}

	.single-product .specs ul li{
		padding-left: 0;
	}
}

.single-product .specs ul li .icon{
	margin-right: 15px;
}
.single-product .specs ul li span {
	font-weight: 700;
}
.single-product .specs ul .bhp .icon {
	background-image: url('assets/images/icon_bhp.svg');
    width: 92px;
}
.single-product .specs ul .zero_sixty .icon {
	background-image: url('assets/images/icon_speedo.svg');
	width: 62px;
}
.single-product .specs ul .year .icon {
	background-image: url('assets/images/icon_calendar.svg');
	width: 57px;
}
.single-product .specs ul .miles .icon {
	background-image: url('assets/images/icon_miles.svg');
	width: 61px;
}
.single-product .specs ul li .icon {
    height: 62px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}
.single-product .specs ul li .info {
	font-size: 20px;
	display: inline-block;
	line-height: 1;
}
.gallery-carousel {
    overflow: hidden; 
    height: 138px;
}
ol.flex-control-nav.flex-control-thumbs {
    width: max-content;
    height: 138px;
    left: 0;
    position: absolute;
    transition: all 0.3s ease;
}
.woocommerce div.product div.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
	width: 130px;
}
.woocommerce div.product div.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
	clear: none;
}
.woocommerce div.product div.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n) {
	margin-right: 1em;
}
.gallery-carousel .carousel-inside {
    width: 84%;
    overflow: hidden;
    display: inline-block;
    position: relative;
    height: 138px;
}
.gallery-carousel .prev, .gallery-carousel .next {
    width: 8%;
    height: 138px;
    display: inline-block;
    cursor: pointer;
    background-image: url('assets/images/icon_carousel_arrow.svg');
    background-repeat: no-repeat;
    background-position: left;
}
.gallery-carousel .next {
	transform: scaleX(-1);
}
.woocommerce div.product div.images .flex-control-thumbs li img {
	opacity: 1;
}
.woocommerce div.product div.images .flex-control-thumbs li img.flex-active, .woocommerce div.product div.images .flex-control-thumbs li img:hover {
	border-bottom: 3px solid #78BE21;
	padding-bottom: 6px;
}



/* comp winners */
#pt-cv-view-e949c1dn3q .cvp-responsive-image[style*="background-image"] {
	width: 100% !important;
}
body.archive.ast-separate-container {
	background-color: #F6F6F5;
}
body.page.ast-separate-container .ast-article-single, body.archive.ast-separate-container .ast-article-single {
	background-color: #F6F6F5;
}
body:not(.single).ast-separate-container .ast-woocommerce-container {
	background-color: #F6F6F5;
}
.ast-separate-container .ast-woocommerce-container {
	padding: 0;
}
.woocommerce ul.products li.product.box-shadow-2, .woocommerce ul.products li.product.box-shadow-2-hover:hover, .woocommerce-page ul.products li.product.box-shadow-2, .woocommerce-page ul.products li.product.box-shadow-2-hover:hover {
	box-shadow: none;
}
.woocommerce ul.products li.product.box-shadow-3, .woocommerce ul.products li.product.box-shadow-3-hover:hover, .woocommerce-page ul.products li.product.box-shadow-3, .woocommerce-page ul.products li.product.box-shadow-3-hover:hover {
	box-shadow: none;
}
a._self.pt-cv-href-thumbnail.pt-cv-thumb-default.cvplbd.cvp-responsive-image.img-thumbnail {
    border: none;
    border-radius: 0;
}
.pt-cv-view .pt-cv-title {
    padding: 5px 20px;
}
.pt-cv-meta-fields {
    padding: 0 20px;
}
.pt-cv-meta-fields time {
	font-size: 27px;
    line-height: normal;
    color: #78BE21;
}
.pt-cv-content-item {
	padding-bottom: 30px;
}
.page-links .page-link, .single .post-navigation a {
	color: #78BE21;
}
.w3eden .card {
	border: none;
	border-radius: 0;
	margin-bottom: 30px !important;
}
.w3eden .card .text-muted {
	color: #78BE21 !important;
	font-size: 27px;
    text-transform: uppercase;
}
.w3eden .card .text-muted i {
	display: none;
}
.w3eden .card.c2a4 .btn {
	background-color: #78BE21;
    border: none;
    border-radius: 0 !important;
    font-size: 18px !important;
    font-family: 'Open Sans', sans-serif !important;
}
.w3eden .card-footer {
	background-color: white;
	border: none;
}
.w3eden .card-body {
	background-color: white;
}


.woocommerce #content table.cart td.actions .button, .woocommerce table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page table.cart td.actions .button {
	border: none;
	color: white;
}
.woocommerce #respond input#submit.disabled:hover, .woocommerce #respond input#submit:disabled:hover, .woocommerce #respond input#submit:disabled[disabled]:hover, .woocommerce a.button.disabled:hover, .woocommerce a.button:disabled:hover, .woocommerce a.button:disabled[disabled]:hover, .woocommerce button.button.disabled:hover, .woocommerce button.button:disabled:hover, .woocommerce button.button:disabled[disabled]:hover, .woocommerce input.button.disabled:hover, .woocommerce input.button:disabled:hover, .woocommerce input.button:disabled[disabled]:hover {
	background-color: #78BE21;
	border: none;
}
.woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce .woocommerce-message a.button:hover, .woocommerce #respond input#submit:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce input.button:hover, .woocommerce button.button.alt.disabled:hover, .wc-block-grid__products .wc-block-grid__product .wp-block-button__link:hover {
	background-color: #78BE21;
	border: none;
}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price, .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-price {
	color: #78BE21;
	font-size: 26px;
	font-weight: 800;
}
.woocommerce ul.products li.product .astra-shop-summary-wrap, .woocommerce-page ul.products li.product .astra-shop-summary-wrap {
	text-align: left;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce-page ul.products li.product .woocommerce-loop-product__title, .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-title{
	color: black;
	font-size: 22px;
	font-weight: bold;
}
a#cookie_action_close_header_reject {
    font-size: 15px;
    font-weight: 500;
}
#cookie-law-info-bar span {
    font-weight: 600;
}
#cookie-law-info-bar a.cli_settings_button {
    font-size: 18px;
}
.large.cli-plugin-button, .large.cli-plugin-button:visited {
	font-size: 18px;
	border-radius: 3px;
}
.woocommerce-privacy-policy-text p, .woocommerce-privacy-policy-text p a {
    font-size: 12px;
    line-height: normal;
}
.up-sells .price bdi {
    color: white;
    background-color: #78BE21;
    padding: 0 15px;
}
.cross-sells .woocommerce-loop-product__title span {
	color: #78BE21;
}
.woocommerce .cart-collaterals .cross-sells ul.products li, 
.woocommerce-page .cart-collaterals .cross-sells ul.products li {
	width: calc(50% - 20px);
}
button.pushbutton-wide {
    background-color: #78BE21;
    border: none;
    padding: 10px 28px;
    font-weight: 600;
    font-size: 20px;
}
.modal {
	z-index: 1051;
}
#postalModal ol { 
	counter-reset: item;
}
#postalModal ol li { 
	display: block;
	padding-left: 20px;
}
#postalModal ol li:before {
	content: counters(item, ".") ". "; 
	counter-increment: item;
	margin-left: -20px;
	font-weight: bold;
}
#postalModal ol {
    margin: 0;
    font-size: 14px;
}
#postalModal button.close {
	background: none;
    color: black;
    border: none;
    font-size: 22px;
}
#postalModal .modal-dialog {
	max-width: 80%;
}
.entry-info {
	contain: content;
}
.entry-info>div {
    display: inline-block;
}
.entry-info .max-per-person {
	float: right;
}
.entry-info p {
    margin: 20px 0 0;
    font-size: 18px;
}
.entry-info p span {
	color: #78BE21;
	font-weight: bold;
}
.entry-info p span.icon{

}
.entry-info .max-entries p span.icon{
	background-image: url('assets/images/icon_ticket_black.svg');
	width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 20px;
    margin-right: 10px;
}
.entry-info .max-per-person p span.icon{
	background-image: url('assets/images/icon_max_user.svg');
	width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
}

.woocommerce div.product p.price del bdi {
	text-decoration: line-through;
    font-size: 30px;
    font-weight: normal;
}
.woocommerce div.product p.price del bdi span {
	font-size: 30px;
	font-weight: normal;
}
.woocommerce-ResetPassword .woocommerce-Button {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 22px;
    padding: 10px 28px;
    background-color: #78BE21;
    color: #FFFFFF;
}
.woocommerce-ResetPassword .woocommerce-Input--text {
	border-color: black;
}
form.woocommerce-form.woocommerce-form-register.register p {
    margin-bottom: 10px;
    font-size: 12px;
}
.woocommerce form.register label span {
    font-size: 13.5px;
    font-weight: normal;
}
.woocommerce form .form-row label.inline {
	width: 80%;
	display: inline-block;
	line-height: 16px;
}
.woocommerce form .form-row .input-checkbox {
	vertical-align: text-top;
	display: inline-block;
}








/* medium view post */
@media (min-width: 545px) and (max-width: 1632px){
	body:not(.home) .site-header {
		position: relative;
	}
	header .custom-logo-link img {
		max-width: 200px;
	}
	.loginbuttons {
		margin-left: auto;
		line-height: normal;
	}
	.main-navigation ul .menu-item .menu-link, .ast-header-break-point .main-navigation ul .menu-item .menu-link, .ast-header-break-point li.ast-masthead-custom-menu-items, li.ast-masthead-custom-menu-items {
		padding: 0 10px;
	}
	.site-header .menu-text {
		font-size: 14px;
	}
	#topCarousel .details ul {
		margin-bottom: 10px;
	}
	#topCarousel .details ul li {
		margin-right: 10px;
	}
	#topCarousel .details ul li img {
		max-height: 35px;
	}
	.entry-info p {
		font-size: 14px;
	}
}








/* mobile */
@media (max-width: 921px) {
	body:not(.home) .site-header {
		position: relative;
	}
	.ast-header-break-point .main-header-bar {
		background-color: black;
		padding-top: 0;
		padding-bottom: 10px;
	}
	.ast-header-break-point .ast-has-mobile-header-logo .custom-logo-link {
		display: block;
	}
	.loginbuttons {
		flex-basis: 100%;
		order: 3;
		line-height: normal;
	}
	.ast-header-break-point.ast-header-custom-item-outside .ast-mobile-menu-buttons {
		order: 1;
	}
	.ast-header-break-point .main-header-bar .ast-button-wrap .menu-toggle {
		background-color: transparent;
	}
	.ast-button-wrap .menu-toggle .menu-toggle-icon {
		color: #75FF41;
		line-height: 17px;
	}
	.ast-button-wrap .menu-toggle .menu-toggle-icon:after {
		content: "MENU";
	    font-size: 10px;
	    display: block;
	    color: white;
	}
	.shopcart {
		order: 2;
		height: 47px;
    	width: 47px;
    	margin: 0;
	}
	.applepay {
	    order: 4;
	    margin: 0;
	    position: absolute;
	    right: 0;
	    top: 82px;
	    background-size: 30px;
	    padding: 14px 21px;
	}
	.main-header-bar .trusttpilot {
		order: 5;
    	display: block !important;
    	top: 78px;
	    line-height: 15px;
	    max-height: 40px;
	}
	.main-header-bar .trusttpilot .logo {
	    height: 14px;
	    width: 100%;
	}
	.main-header-bar .trusttpilot .star {
    	height: 12px;
	    width: 12px;
	    margin-right: -5px;
	}
	.loginbuttons a.login {
	    margin-left: 0;
	    margin-right: 5px;
	    font-size: 11px;
	}
	.loginbuttons a.signup {
		margin-right: 0;
	    font-size: 11px;
	}
	.ast-button-wrap .menu-toggle:focus {
		outline: none;
	}
	.ast-header-break-point .main-header-menu {
	    background-color: black;
	}
	.ast-header-break-point .ast-main-header-bar-alignment {
		order: 5;
	}
	body:not(.home) .main-header-bar {
		padding-bottom: 15px;
	}
	.ast-header-break-point.ast-header-custom-item-outside .main-header-bar-navigation {
		margin-top: 20px;
	}
	.site-header .menu-item a span.ast-icon.icon-arrow {
		display: none;
	}
	.site-header .menu-item a span.menu-text {
		display: inline-block;
	}
	.ast-single-post h1.entry-title, h1.page-title {
		font-size: 28px;
	}
	.woocommerce {
		display: flex;
		flex-wrap: wrap;
	}
	.woocommerce nav {
		order: 2;
	}
	body.page.ast-separate-container .ast-article-single {
		padding: 0;
	}
	.ast-separate-container #primary, .single-product.ast-separate-container #primary {
		padding-left: 0;
		padding-right: 0;
		margin-top: 20px;
	}
	.entry-content p {
		line-height: 34px;
	}
	.woocommerce-MyAccount-navigation-link a {
		padding: 4px 25px;
	}
	.elementor .elementor-hidden-phone {
	    display: block;
	}
	.elementor-1600 .elementor-element.elementor-element-f313816:not(.elementor-motion-effects-element-type-background) {
	    background-position: bottom;
	    background-size: contain;
	    background-color: black;
	}
	#all-over-footer .elementor-widget-wrap .hang-bottom {
		display: none;
	}
	#all-over-footer .elementor-image {
		text-align: center;
		margin-top: 25px;
	}
	#all-over-footer .elementor-image img {
		max-width: 180px;
	}
	.mobile-only {
		display: block;
	}
	#all-over-footer .copyright {
		padding: 10px 15px 0;
		border-top: 5px solid #75FF41;
	}
	#all-over-footer .copyright span.elementor-icon-list-text {
		font-size: 13px;
		line-height: 20px;
	}
	#all-over-footer .elementor-widget-wrap {
		padding-bottom: 10px;
	}
	.elementor-widget-divider:not(.elementor-widget-divider--view-line_text):not(.elementor-widget-divider--view-line_icon) .elementor-divider-separator {
		border: none;
	}
	.elementor-1600 .elementor-element.elementor-element-d93ce3a {
		--grid-column-gap:  0;
		--icon-size:  54px;
	}
	.elementor-grid-0 .elementor-grid .elementor-grid-item {
		width: 70px;
	}
	h1.header-title {
		font-size: 39px;
    	margin-top: 15px;
	}
	#pt-cv-view-e949c1dn3q .pt-cv-ifield .pt-cv-title a, #pt-cv-view-e949c1dn3q .panel-title {
		font-size: 16px !important;
	}
	.pt-cv-meta-fields time {
		font-size: 19px;
		font-weight: bold;
	}
	.ast-separate-container .ast-woocommerce-container {
	    padding: 0;
	}
	.woocommerce div.product.ast-product-tabs-layout-vertical .woocommerce-tabs ul.tabs {
	    width: 100%;
	}
	.woocommerce div.product.ast-product-tabs-layout-vertical .woocommerce-tabs .panel {
		margin: 0;
		padding: 0;
	}
	.gallery-carousel {
		position: relative;
		height: 115px;
	    margin-top: -15px;
	}
	.gallery-carousel .prev, .gallery-carousel .next {
	    position: absolute;
	    bottom: -45px;
	    width: 31px;
	    background-size: contain;
	}
	.gallery-carousel .next {
	    right: 38%;
	}

	.gallery-carousel .prev {
	    left: 38%;
	}
	.gallery-carousel .carousel-inside {
		width: 100%;
		height: 66px;
	}
	.woocommerce div.product div.images .flex-control-thumbs li img.flex-active, .woocommerce div.product div.images .flex-control-thumbs li img:hover {
		padding-bottom: 0;
	}

	.single-product .specs ul li .icon {
		height: 48px;
		margin-right: 0;
	}
	.single-product .specs ul li .info {
		font-size: 15px;
	}
	.single-product .specs {
		margin-top: 35px;
		border-bottom: 2px solid #78BE21;
    	padding-bottom: 20px;
	}
	.single-product .summary .trusttpilot {
		display: none;
	}
	.single-product div.product h1.entry-title {
		display: none;
	}
	h1.mobile-product-title {
	    color: black;
	    font-size: 39px;
	    text-align: center;
	}
	.woocommerce div.product div.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
		width: 65px;
		margin-right: 10px !important;
	}
	.wc_lotery_countdown-show4 .wc_lotery_countdown-section {
		line-height: 12px;
	}
	.wc_lotery_countdown-section .wc_lotery_countdown-amount {
		font-size: 36px;
	}
	.wc_lotery_countdown-section .wc_lotery_countdown-period {
		font-size: 14px;
	}
	.wc_lotery_countdown-section .wc_lotery_countdown-amount:after {
		right: -5px;
		top: -2px;
	}
	.single-product p.price-note {
    	background-color: #78BE21;
    	margin: 15px -15px 0;
    	padding: 15px;
    	font-size: 18px;
	    text-align: center;
	    color: white;
    }
    .single-product p.price-note a {
    	color: white;
    	font-size: 18px;
    	text-decoration: underline;
    }
    .single-product div.product p.price, .single-product div.product span.price {
	    background-color: #78BE21;
	    padding: 10px;
	    margin: -1px -15px 0;
	    color: white;
	    line-height: normal;
	    font-size: 36px;
	    text-align: center;
	}
	.single-product div.product p.price span, .single-product div.product span.price span {
		display: inherit;
		margin-top: 5px;
	}
	.single-product div.product form.cart.pick-number p.lottery-question {
	    color: white;
	    margin: 0;
	    padding: 20px 15px 15px;
	    font-size: 28px;
	    text-align: center;
	}
	.single-product div.product form.cart.pick-number {
		margin: 0 -15px;
		background-color: black;
		padding-bottom: 10px;
	}
	.woocommerce div.product form.cart select#lottery_answer_drop {
		border: none;
		margin-top: 20px;
	}
	.woocommerce div.product form.cart div.quantity {
	    margin-left: 15px;
	}
	.woocommerce div.product form.cart div.quantity a {
	    background-color: white;
	}
	.woocommerce-tabs.wc-tabs-wrapper {
		border: none;
		padding: 0;
	}
	.single-product p, .single-product .panel.entry-content ul li, .single-product .panel.entry-content p a {
		font-size: 16px;
		line-height: normal;
		text-align: left;
	}
	.single-product .panel.entry-content ul {
		margin-left: 40px;
	}
	.woocommerce div.product.ast-product-tabs-layout-vertical .woocommerce-product-gallery {
		margin-bottom: 0;
	}
	.single-product p.note {
	    text-align: center;
	    font-size: 22px;
	    line-height: 28px;
	    margin-top: 20px;
	}
	.single-product .wcl-progress-meter .title p {
		text-align: left;
	}
	/* home */
	#topCarousel .bg_image {
		min-height: 376px;
	}
	.home .site-header {
		position: relative;
	}
	#topCarousel h1 {
	    font-size: 22px;
	    margin-top: 10px;
	    padding: 25px 60px 35px 15px;
	    background-size: contain;
	}
	#topCarousel .bg_image .shadowdeets .carname {
	    font-size: 39px;
	    margin: 0;
    	width: 100%;
    	text-align: center;
    	padding-top: 35px;
	}
	#topCarousel .bg_image .shadowdeets {
		text-align: center;
		padding-bottom: 20px;
	}
	#topCarousel .bg_image .shadowdeets .viewcomp {
	    font-size: 19px;
	    position: relative;
	    bottom: unset;
	    right: unset;
	    float: none;
	}
	#topCarousel .bg_image .shadowdeets .viewcomp:after {
		height: 12px;
		background-size: contain;
		width: 8px;
		margin: 0 0 0 6px;
	}
	#topCarousel .details .green:after {
		display: none;
	}
	#topCarousel .details .green .price {
	    font-size: 23px;
	    margin: 0 15px;
	}
	#topCarousel .details ul {
		display: none;
	}
	#topCarousel .controlls button.carousel-control-prev, #topCarousel .controlls button.carousel-control-next {
		width: 26px;
		height: 26px;
		background-size: contain;
		bottom: -7px;
	}
	#topCarousel .controlls button.carousel-control-next {
		right: 15px;
	}
	#topCarousel .controlls button.carousel-control-prev {
		right: 50px;
	}
	#topCarousel .controlls .carousel-indicators {
    	left: auto;
    	right: 85px;
    	margin-right: 0;
    	margin-bottom: 0px;
	    bottom: -8px;
	}
	#topCarousel .controlls .carousel-indicators button {
		width: 9px;
		height: 9px;
	}
	.current-comps-title h3 {
		font-size: 28px;
	    text-align: left;
	    margin-left: 15px;
	    padding-top: 15px;
	}
	section.current-comp {
		padding-top: 15px;
	}
	section.current-comp #current-comp-carousel-mobile .product .details h4 {
		font-size: 20px;
	}
	section.current-comp #current-comp-carousel-mobile .product .details .price {
		font-size: 35px;
		line-height: normal;
	}
	section.current-comp #current-comp-carousel-mobile .product .green {
		padding: 0 20px;
	}
	section.current-comp #current-comp-carousel-mobile .product .green .days {
		font-size: 14px;
		background-size: contain;
		padding-left: 35px;
	}
	section.current-comp #current-comp-carousel-mobile .product .green .days span {
		font-size: 11px;
	}
	section.current-comp #current-comp-carousel-mobile .product .green .tickets {
		font-size: 14px;
		margin-top: 8px;
		background-size: 42px;
	    background-position: top left;
	}
	section.current-comp #current-comp-carousel-mobile .product .green .tickets span {
		font-size: 11px;
	}
	.elementor-95 .elementor-element.elementor-element-3ed0e40 .elementor-heading-title {
		font-size: 28px;
	}
	section#how-it-works ol li:before {
		height: 54px;
		width: 54px;
		font-size: 45px;
		line-height: 45px;
	}
	section#how-it-works ol li {
		font-size: 14px;
		height: 80px;
	}
	section#how-it-works ol li span {
		max-width: 75%;
		top: 25%;
		line-height: normal;
	}
	section#how-it-works ol {
		margin-bottom: 0;
	}
	section#how-it-works {
		background-position: top right;
		background-size: contain;
	}
	section#winners h3 {
		font-size: 28px;
		text-align: left;
	}
	section#winners .btn {
		position: absolute;
		right: 15px;
		font-size: 20px;
		padding: 2px 5px;
    	border-width: 1px;
    	line-height: normal;
	}
	section#winners .btn:after {
		display: none;
	}
	#current-comp-carousel-mobile {
		display: block;
	}
	#current-comp-carousel {
		display: none;
	}
	.elementor-95 .elementor-element.elementor-element-a029f29 {
		padding: 0;
	}
	#winners-carousel-mobile {
		display: block;
	}
	#winners-carousel {
		display: none;
	}
	section#winners {
		padding-bottom: 0;
	}
	section#winners #winners-carousel-mobile {
		margin-bottom: 60px;
	}
	.elementor-1600 .elementor-element.elementor-element-d93ce3a .elementor-social-icon {
		--icon-padding: 0;
	}
	section .carousel .carousel-indicators button {
		width: 10px !important;
		height: 10px !important;
	}
	section#how-it-works {
		background-image: url('assets/images/background_how_it_works_mobile.jpg');
		background-size: cover;
	}
	#all-over-footer .elementor-column.elementor-col-33 {
		width: 100%;
	}
	#all-over-footer span.elementor-icon-list-text {
		line-height: 27px;
	}
	.current-comps-title {
		background-image: none;
	}
	.current-comps-title:after {
		background-position: -416px -130px;
	    background-size: 607px;
	}
	.woocommerce #content .ast-woocommerce-container div.product div.summary, .woocommerce .ast-woocommerce-container div.product div.summary, .woocommerce-page #content .ast-woocommerce-container div.product div.summary, .woocommerce-page .ast-woocommerce-container div.product div.summary {
		width: 100%;
		float: none;
		margin-left: 0px;
	}
	.woocommerce div.product form.cart .button.single_add_to_cart_button {
		width: 59%;
	}
	.woocommerce-Tabs-panel p {
		text-align: left;
	}
	#all-over-footer .elementor-widget-wrap .co-deets p {
		text-align: center;
	}
	.woocommerce-privacy-policy-text p {
		line-height: normal;
	}
	.single-product div.product span.price span {
		font-size: 21px;
	}
	a.shopcart.not-empty {
		width: 30px;
	}
	.carousel-item .col-sm-3,
	.carousel-item .col-sm-4 {
	    width: 80%;
	    margin: 0 auto;
	}
	#postalModal .modal-dialog {
		max-width: none;
	}
	.woocommerce div.product span.onsale {
	    font-size: 16px;
	    top: 105px;
	}
	p.time-title {
		text-align: center;
	}
	#postalModal ul, #postalModal p, #postalModal ul li {
	    font-size: 14px;
	    margin-left: 10px;
	}
}


@media (min-width:  922px){
	.main-header-bar, .ast-header-break-point .main-header-bar, 
	.ast-header-break-point .header-main-layout-2 .main-header-bar {
		padding-top: 0;
		padding-bottom: 0;
	}
	.site-header .menu-text {
		font-size: 12px;
	}
	.main-header-bar .trusttpilot {
		position: relative;
	    right: auto;
	    bottom: auto;
	    line-height: 1;
	    margin-right: 20px;
	    margin-left: auto;
	    margin-bottom: 15px;
	}
	header .trusttpilot .logo {
		width: 140px;
		height: 25px;
	}
	header .trusttpilot .star {
		width: 20px;
		height: 20px;
	}
	section.current-comp #current-comp-carousel .product .green, 
	section.current-comp #current-comp-carousel-mobile .product .green {
		padding: 5px 10px;
	}
	section.current-comp #current-comp-carousel .product .green .days, 
	section.current-comp #current-comp-carousel-mobile .product .green .days {
		font-size: 16px;
	}
	section.current-comp #current-comp-carousel .product .green .days, 
	section.current-comp #current-comp-carousel-mobile .product .green .days {
		background-size: 30px;
		padding-left: 35px;
	}
	section.current-comp #current-comp-carousel .product .green .days span, 
	section.current-comp #current-comp-carousel-mobile .product .green .days span {
		font-size: 14px;
	}
	section.current-comp #current-comp-carousel .product .green .tickets, 
	section.current-comp #current-comp-carousel-mobile .product .green .tickets {
		padding-left: 40px;
		font-size: 16px;
		background-size: 35px;
	}
	section.current-comp #current-comp-carousel .product .green .tickets span, 
	section.current-comp #current-comp-carousel-mobile .product .green .tickets span {
		font-size: 12px;
	}
	#all-over-footer .elementor-column.elementor-col-33 {
		width: 33%;
	}
}







/* specials */

@media (min-width: 769px) and (max-width: 921px){
	.wc_lotery_countdown-show4 .wc_lotery_countdown-section {
		width: 11%;
	}
	.tgwc-woocommerce-MyAccount-navigation.tgwc-navbar-sidebar {
		max-width: 50%;
		flex: 0 0 50%;
	}
}
/*@media (min-width: 1110px) and (max-width: 1335px){
	#topCarousel .details ul {
		min-width: 745px;
	}
}